@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --header-height: 60px;
    --tablet-header-height: 64px;
    --mobile-header-height: 44px;
    --footer-height: 60px;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  html {
    @apply scroll-smooth;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  header {
    @apply flex w-full h-[var(--mobile-header-height)] md:h-[var(--tablet-header-height)] lg:h-[var(--header-height)] items-center justify-between px-4 py-4 transition-all lg:px-6 xl:px-10 lg:py-6 bg-primary-800 text-light-100 duration-200;
  }

  footer {
    @apply w-full h-[var(--footer-height)] items-center justify-between px-16 transition-all lg:px-10 lg:py-6  bg-primary-700 text-white;
  }
}

@layer components {
  .minHeight {
    @apply min-h-[calc(100vh-var(--mobile-header-height)-var(--footer-height))] md:min-h-[calc(100vh-var(--tablet-header-height)-var(--footer-height))] lg:min-h-[calc(100vh-var(--header-height)-var(--footer-height))];
  }

  .title {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-6xl text-secondary-300;
  }

  .subtitle {
    @apply text-sm sm:text-base md:text-xl lg:text-2xl xl:text-3xl;
  }

  .gradient {
    @apply bg-gradient-to-b from-primary-400 to-primary-50;
  }

  .btn {
    @apply text-lg text-primary-700  px-12 py-1 md:py-1 bg-white rounded-[10px] hover:bg-primary-100;
  }
  .btnSecond {
    @apply text-primary-50  bg-primary-700 hover:bg-primary-50 hover:text-primary-600;
  }

  /* Flex justify-between items-center */
  .flexB {
    @apply flex justify-between items-center;
  }

  /* Flex justify-center items-center */
  .flexC {
    @apply flex justify-center items-center;
  }

  /* Flex justify-start items-center */
  .flexS {
    @apply flex justify-start items-center;
  }
}
